<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Semi-Restful TV Shows</title>
</head>
<body>
    <div class='container bg-light'>
        <h1>TV Show {{current_show.id}}</h1>
        <h3>Title: {{current_show.name}}</h3>
        <h3>Network: {{current_show.network.name}}</h3>
        <p>{{current_show.desc}}</p>
        <p>Last updated at: {{current_show.updated_at}}</p>
        <footer>
            <a href='/{{current_show.id}}/edit'>edit</a>
            <a href='/{{current_show.id}}/delete'>delete</a>
        </footer>
    </div>
</body>
</html>